:root {
    --background-color: #EFEFEF;
    --primary-color: #F15946;
    --secondary-color: #F9C22E;
    --third-color: #53B3CB;
    --fourth-color: #2E8B57;
    --text-color: #0000;
    --text-color2: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: var(--text-color2);
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    text-shadow: 7px 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.balance {
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color), var(--third-color));
    margin-bottom: 20px;
    text-align: center;
    padding: 2rem .3rem 0 .3rem;
    border-radius: 1rem;
}

#balance {
    font-size: 3rem;
    margin-top: 10px;
}

.income-expense {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    text-align: center;
    padding: 1rem;
}

.income-expense h3 {
    font-size: 1rem;
    font-weight: 500;
}

.income-expense>div {
    flex: 1;
    border: 1px solid #ccc;
    padding: 1.2rem;
    border-radius: 1rem;
    margin: 0 7px;
    background: linear-gradient(to right, #ffff, #ccc);
}

.income-expense>div:first-child {
    color: var(--fourth-color);
}

.income-expense>div:last-child {
    color: var(--primary-color);
}

.money {
    font-size: 1.9rem;
    letter-spacing: 1px;
    font-weight: 700;
}

.transaction-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#history-list {
    list-style-type: none;
    max-height: 500px;
    overflow-y: auto;
    padding-right: 10px;
    flex-grow: 1;
}

.history-list::-webkit-scrollbar {
    width: 8px;
}

/*thumb is the draggable part of the scrollbar*/
.history-list::-webkit-scrollbar-thumb {
    background-color: #cbd5e0;
    border-radius: 4px;
}

/*track is the bg of the scrollbar*/
.history-list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
}

.history-list::-webkit-scrollbar-thumb:hover {
    background-color: #a0aec0;
}

.history {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background: #ffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border-right: 5px solid;
    animation: slideIn 0.5s ease;
}

.history:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateX(5px);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.history.income {
    border-right-color: var(--fourth-color);
}

.history.expense {
    border-right-color: var(--primary-color);
}

.history .delete-btn {
    background: none;
    border: none;
    color: var(--primary-color);
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0;
    padding: 4px 8px;
    border-radius: 5px;
    margin-left: 11px;
}

.history:hover .delete-btn {
    opacity: 1;
}

.history .delete-btn:hover {
    background-color: var(--primary-color);
    transform: scale(1.1);
    color: var(--text-color2);
}

.add-transaction {
    background: linear-gradient(to right, #ececec, #e0e0e0);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.add-transaction form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-control {
    margin-bottom: 1rem;
}

.form-control label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

.form-control input {
    width: 100%;
    padding: .5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 9px;
    font-size: 1rem;
    transition: all 0.3s ease;
}
.form-control input:focus {
    border-color: var(--third-color);
    box-shadow: 0 0 5px rgba(83, 179, 203, 0.5);
    outline: none;
}
.form-control input:hover {
    border-color: #85abc8;
}
button[type="submit"] {
    padding: .7rem;
    border: none;
    background: linear-gradient(to right, var(--fourth-color), var(--third-color) , var(--secondary-color), var(--primary-color));
    color: var(--text-color2);
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: auto;
}